<footer class="container">
    <div class="divMyLinks">
        <a href="https://www.instagram.com/berghz_g" target="_blank"><i class="bi bi-instagram" aria-label="Instagram"></i></a>
        <a href="https://t.me/BerghzG" target="_blank"><i class="bi bi-telegram" aria-label="Telegram"></i></a>
        <a href="https://www.berghzg.com" target="_blank"><i class="bi bi-info-circle" aria-label="Website Portfolio"></i></a>
    </div>

    <div class="divImageLinks">
        <h4>Images Used</h4>
        <a href="https://br.freepik.com/fotos-gratis/feche-acima-das-maos-masculinas-escrevendo-em-um-conceito-vazio-de-papel-educacao-e-negocios_7911274.htm#fromView=search&page=1&position=5&uuid=2b984822-e7e5-49fd-b2ba-b54e21b7aa3b">Image by master1305 on Freepik</a>
        <a href="https://br.freepik.com/fotos-gratis/um-homem-senta-se-em-uma-sala-escura-na-frente-de-uma-tela-de-laptop-em-branco_1933949633.htm#fromView=search&page=1&position=42&uuid=a7265195-92a0-4e5e-9216-ef3a918da17d">Image by pvproductions on Freepik</a>
    </div>
</footer>