 <header class="container-fluid bg-image">
        <div id="menu">
            <img id="logo" class="img-fluid" src="/images/logo1.png" alt="Expressive Words Logo">

            <div id="butao">
				  <i class="bi bi-brightness-high" aria-label="Sun icon"></i>
                  <input class="toggle" type="checkbox" id="ligaDesliga">
                  <label class="form-check-label" for="ligaDesliga"></label>
                  <i class="bi bi-moon" aria-label="Moon icon"></i>
            </div>
          
        </div>

        <div id="headerText">
            <h1>Write Your Own Dreams</h1>
            <p class="img-fluid">Dreaming is the first step to transform your life. In this space, we encourage you to write and explore your own dreams. Don't limit yourself; make light goals to realize it. Share your goals and receive feedback, because your dreams need to be lived. Start now and write your first success story!</p>
            <button id="myButton" type="button" class="BtnStarted1" data-bs-toggle="modal" data-bs-target="#exampleModal">Get Started</button>
        </div>

	
			<div id="footerHeader">
				<a href="https://www.instagram.com/berghz_g" target="_blank"><i class="bi bi-instagram" aria-label="Instagram"></i></a>
				<a href="https://t.me/BerghzG" target="_blank"><i class="bi bi-telegram" aria-label="Telegram"></i></a>
				<a href="https://www.berghzg.com" target="_blank"><i class="bi bi-info" aria-label="Website Portfolio"></i></a>
        	</div>
		 

</header>
	
<div class="modal-container modal-open">
	    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title fs-4" id="exampleModalLabel">Start Writting</h1> 
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							  <form action="/posts" method="post">
									<div class="form-group" style="padding-bottom: 15px; padding-top: 10px;">
										<label for="inputText" class="labelModal" name="title">Title</label>
										<input type="text" class="form-control" name="title" id="inputText" placeholder="Write your title here" required>
									 </div>
									 <div class="form-group" style="padding-bottom: 7px;">
										<label for="inputTextarea" class="labelModal">Content</label>
										<textarea class="form-control" id="inputTextarea" name="text" rows="3" style="resize: none; overflow-y: auto; height: 125px" placeholder="Write whatever you want here" required></textarea>
									 </div>

									 <p id="errorMessage"></p>
									 
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										<button type="submit" id="saveStarted" class="btn btn-primary">Save</button>
									</div> 
									 
							  </form>
							  
						</div>
						
					</div>
				</div>
			</div>
		</div>
</div>