<footer class="custom-footer text-center">
    <style>
        .custom-footer {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #2e2e2e; /* Vermelho escuro */
            color: #ffcccc; /* Texto branco */
            border-top: 2px solid #3b3131; /* Borda de vermelho intermediário */
            padding: 1rem 0;
            font-size: 0.9rem;
            position: relative;
            bottom: 0;
            width: 100%;
        }
    </style>
    <p>&copy; Berghz G - 2024</p>
</footer>

