/* login sign */

.image-container {
    background-image: url('images/fundologin.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; 
}

.owner-img {
    position: fixed;
    bottom: 10px;
    left: 10px; 
    padding: 5px;
    border-radius: 5px; 
}

.owner-img a, a.copy {
    text-decoration: none;
    color: white;
}

.coping {
    position: absolute;
    bottom: 17.5px; 
    left: 75%;
    transform: translateX(-50%);
    text-align: center;
}

a.copy:hover {
    color: rgb(181, 189, 196);
}

@media (max-width: 768px) {
    .image-container {
        display: none;
        color: white;
    }

    .coping {
        left: 48%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .image-container {
        display: flex !important;
        width: 50% !important; 
    }

    .log {
        display: flex !important;
        flex-direction: column; 
        width: 50% !important;
    }

    .log .w-100 {
        max-width: 100% !important; 
    }
}

.log {
    background-color: rgb(5, 5, 5);
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    width: 29vh;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: rgb(216, 224, 230) !important;
}

.atex {
    color: rgb(227, 234, 241);
}

input:focus, textarea:focus, select:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1.5px solid blue;
}

div.ava button.btn-primary {
    margin-top: 7px;
    width: 215px;
    border-radius: 50px !important;
}

/* index.ejs */

#preloader {
    background: #000 url(/images/loading.gif) no-repeat center;
    background-size: 40%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

div.cont1index {
    background-image: url(./images/index_back.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

@media(max-width: 300px) {
    #imgindex {
        width: 20vh
    }
}

.typewriter {
    font-family: "Abril Fatface", serif;
    padding-top: 17px;
    font-weight: 400;
    font-style: normal;
    color: rgb(202, 215, 226) !important;
}

.indexsearch {
    margin-top: 15vh;
}

#indexsearch {
    position: relative;
}

.indexsearch input {
    width: 40vh;
    padding: 10px;
    border-radius: 30px;
    border: none;
    vertical-align: middle;
}

.dropdown-list {
    display: none;
    position: absolute;
    width: 35vw;
    max-height: 200px; 
    overflow-y: auto; 
    border: 1px solid #ccc; 
    background-color: #fff;
    z-index: 1000; 
    list-style-type: none; 
    padding: 0; 
    margin: 0;
    top: 45px; 
    left: 50%;
    transform: translateX(-50%); 
}

.dropdown-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1; 
}

.dropdown-list li:hover {
    background-color: #f0f0f0;
}

.dropdown-list li:last-child {
    border-bottom: none; 
}

.dropdown-list img {
    flex-shrink: 0;
}

.indexsearch button {
    border: none;
    background: none;
    vertical-align: middle;
}

.indexsearch i {
    color: white;
}

@media(max-width: 290px) {
    .indexsearch input {
        width: 29vh
    }

    .indexsearch {
        margin-top: 10vh;
    }
}

@media(max-width: 1000px) {
    .dropdown-list {
        width: 50vh;
    }
}

@media(max-width: 290px) {
    
    .dropdown-list {
        width: 40vh;
    }
    }

@media(min-width: 450px) {
    .indexsearch input {
        width: 65vh
    }

    .what h3 {
        padding: 0 20px 0 20px;
    }
}

.what {
    padding-bottom: 15px;
}

.what p {
    text-align: justify;
    padding: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.what h3 {
    padding: 35px 20px 0 20px;
    color: #ffc107;
    font-family: 'Raleway', sans-serif;
}

/* book.ejs */

.star-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.star {
    width: 24px;
    height: 24px;
    margin: 0 2px; /* Margem opcional para espaçamento entre estrelas */
}

.star-rating{ 
    margin: 0 5px; 
    font-size: 18px; 
    line-height: 24px;
    color: #ccc;
}

@media (max-width: 768px) {
    .text-left {
        padding: 30px 15px 15px 15px;
        margin-bottom: -35px;
    }
}

.book2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha ao topo */
    align-items: flex-start; /* Alinha à esquerda */
    text-align: left; 
    height: 100%;
    padding: 10px;
}

#format {
    display: inline;
    background-color: #071a36;
    color: #0866f3;
    padding: 7px;
    border-radius: 8px;
}

#titleh2 {
    padding-top: 17px;
    color: white !important;
}

#h2book {
    color: #7769a7;
}

.pbook {
    color: #dad8e2;
}

.amazon-link {
    display: inline-block;
    background-color: #FF9900; /* Cor laranja da Amazon */
    color: #FFFFFF; /* Texto branco */
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
}

.amazon-link:hover {
    background-color: #E47911; /* Tom mais escuro de laranja */
}

.amazon-link i {
    margin-left: 8px;
    color: #FFFFFF; /* Ícone branco */
}

.book-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start; /* Alinha o conteúdo à esquerda */
    padding: 10px;
}

div.descri p {
    text-align: justify;
    color: #b6b2ce;
}

.genre-list {
    list-style-type: none; /* Remove as bolinhas */
    padding: 0; /* Remove o padding da lista */
    margin: 0; /* Remove a margem da lista */
}

.genre-item {
    display: inline-block; /* Exibe os itens em linha */
    margin-right: 10px; /* Espaçamento entre os itens */
    background-color: #080750;
    color: rgb(221, 222, 230);
    padding: 5px 10px;
    border-radius: 8px; 
    margin: 4px;
}

.h3boo {
    color: #e0dcdc;
}

.modal-fullscreen {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.dark-modal .modal-content {
    background-color: #2c2f33; /* Fundo escuro */
    color: #ffffff; /* Texto branco */
}
.dark-modal .modal-header {
    border-color: #454d55; /* Bordas escuras */
}

.dark-modal .modal-footer {
    border: none;
}

.dark-modal .btn-close {
    filter: invert(1); /* Botão de fechar invertido para visualizar melhor no fundo escuro */
}

.ratings input {
    display: none;
}

.ratings label::before {
    content: '\f005'; /* Unicode para estrela no FontAwesome */
    font-family: "Font Awesome 5 Free"; /* Nome completo da fonte */
    font-weight: 900; /* Necessário para ícones sólidos */
    font-size: 28px; /* Tamanho da estrela */
    margin: 5px; /* Espaço entre ícone e texto (se houver texto) */
    display: inline-block; /* Garante que o ícone seja visível */
}

.ratings .half::before {
    content: '\f089'; 
    font-family: "Font Awesome 5 Free"; /* Nome completo da fonte */
    font-weight: 900; /* Necessário para ícones sólidos */
    font-size: 28px; /* Tamanho da estrela */
    position: absolute;
}

.ratings label {
    float: right;
    text-align: center;
    color: gray;
    cursor: pointer;
}

.ratings [id^="stars"]:checked~label,
.ratings:not(:checked) label:hover,
.ratings:not(:checked) label:hover~label {
    color: #ffd700;
}

.ratings [id^="stars"]:checked+label:hover,
.ratings [id^="stars"]:checked~label:hover,
.ratings label:hover~[id^="stars"]:checked~label,
.ratings [id^="stars"]:checked~label:hover~label {
    color: rgb(128, 128, 128);
}

.textarea {
    height: calc(100vh - 250px);
    width: 100%;
    margin-top: 10px;
    border-radius: 7px;
    padding: 7px;
    background-color: rgb(19, 19, 19);
    color: rgb(247, 242, 242);
    border: none;
}

#notesContainer {
    padding: 30px;
}

#notesContainer ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; 
    padding: 0;
    list-style: none;
}

#notesContainer strong {
    color: #d9dfe7;
}

.licontainer {
    background-color: #0f0f0f;
    padding: 10px;
    border-radius: 7px;
}

.note-header {
    display: flex; 
    align-items: center;
}

.container-star {
    display: flex;
    gap: 2px; 
}

.note-date {
    margin-left: 10px; 
    font-size: 0.9em; 
    color: rgb(145, 144, 144); 
}
