/* login sign */

.image-container {
    background-image: url('images/fundologin.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; 
}

.owner-img {
    position: fixed;
    bottom: 10px;
    left: 10px; 
    padding: 5px;
    border-radius: 5px; 
}

.owner-img a, a.copy {
    text-decoration: none;
    color: white;
}

.coping {
    position: absolute;
    bottom: 17.5px; 
    left: 75%;
    transform: translateX(-50%);
    text-align: center;
}

a.copy:hover {
    color: rgb(181, 189, 196);
}

@media (max-width: 768px) {
    .image-container {
        display: none;
        color: white;
    }

    .coping {
        left: 48%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .image-container {
        display: flex !important;
        width: 50% !important; 
    }

    .log {
        display: flex !important;
        flex-direction: column; 
        width: 50% !important;
    }

    .log .w-100 {
        max-width: 100% !important; 
    }
}

.log {
    background-color: rgb(5, 5, 5);
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    width: 29vh;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: rgb(216, 224, 230) !important;
}

.atex {
    color: rgb(227, 234, 241);
}

input:focus, textarea:focus, select:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1.5px solid blue;
}

.btn-primary {
    margin-top: 7px;
    width: 215px;
    border-radius: 50px !important;
}

/* index.ejs */

#preloader {
    background: #000 url(/images/loading.gif) no-repeat center;
    background-size: 40%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

div.cont1index {
    background-image: url(./images/index_back.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

@media(max-width: 300px) {
    #imgindex {
        width: 20vh
    }
}

.typewriter {
    font-family: "Abril Fatface", serif;
    padding-top: 17px;
    font-weight: 400;
    font-style: normal;
    color: rgb(202, 215, 226) !important;
}

.indexsearch {
    margin-top: 15vh;
}

#indexsearch {
    position: relative;
}

.indexsearch input {
    width: 40vh;
    padding: 10px;
    border-radius: 30px;
    border: none;
    vertical-align: middle;
}

.dropdown-list {
    display: none;
    position: absolute;
    width: 35vw;
    max-height: 200px; /* Limita a altura */
    overflow-y: auto; /* Adiciona rolagem se necessário */
    border: 1px solid #ccc; 
    background-color: #fff;
    z-index: 1000; 
    list-style-type: none; /* Remove as bolinhas */
    padding: 0; /* Remove qualquer espaçamento extra */
    margin: 0;
    top: 45px; /* Posição ajustada para ficar logo abaixo do input */
    left: 50%;
    transform: translateX(-50%); /* Centraliza a lista */
}

.dropdown-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1; /* Separação entre itens */
}

.dropdown-list li:hover {
    background-color: #f0f0f0;
}

.dropdown-list li:last-child {
    border-bottom: none; /* Remove a borda do último item */
}

.dropdown-list img {
    flex-shrink: 0;
}

.indexsearch button {
    border: none;
    background: none;
    vertical-align: middle;
}

.indexsearch i {
    color: white;
}

@media(max-width: 290px) {
    .indexsearch input {
        width: 29vh
    }

    .indexsearch {
        margin-top: 10vh;
    }
}

@media(max-width: 1000px) {
    .dropdown-list {
        width: 50vh;
    }
}

@media(max-width: 290px) {
    
    .dropdown-list {
        width: 40vh;
    }
    }

@media(min-width: 450px) {
    .indexsearch input {
        width: 65vh
    }

    .what h3 {
        padding: 0 20px 0 20px;
    }
}

.what {
    padding-bottom: 15px;
}

.what p {
    text-align: justify;
    padding: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.what h3 {
    padding: 35px 20px 0 20px;
    color: #ffc107;
    font-family: 'Raleway', sans-serif;
}
